@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center; margin-top: 50px;">
    <h1>Bem-vindo à Biblioteca Tec</h1>
    <p>Acompanhe nossa coleção de livros e faça empréstimos online de forma rápida e fácil.</p>
</div>

<div style="display: flex; justify-content: space-around; margin-top: 100px;">
    <div>
        <img src="~/images/livro1.jpg" alt="Imagem de Livro 1" style="width:200px;height:300px;" />
        <p>Livro Destaque 1</p>
    </div>
    <div>
        <img src="~/images/livro2.jpg" alt="Imagem de Livro 2" style="width:200px;height:300px;" />
        <p>Livro Destaque 2</p>
    </div>
    <div>
        <img src="~/images/livro3.jpg" alt="Imagem de Livro 3" style="width:200px;height:300px;" />
        <p>Livro Destaque 3</p>
    </div>
</div>

<div style="text-align:center; margin-top: 50px;">
    <a class="btn btn-primary" asp-controller="Emprestimo" asp-action="Index">Ver Empréstimos</a>
</div>

