@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center; margin-top: 50px;">
    <h1>Bem-vindo à Biblioteca Tec</h1>
    <p>Acompanhe nossa coleção de livros e faça empréstimos online de forma rápida e fácil.</p>
</div>

<div style="display: flex; justify-content: space-around; margin-top: 100px;">
    <div style="text-align: center;">
        <img src="~/images/livro1.jpg" alt="Imagem de Livro 1" style="width:200px;height:300px;" />
        <br />
        <a class="btn btn-secondary" asp-controller="Emprestimos" asp-action="Index" style="background-color: white; color: black; margin-top: 10px;">Ver Empréstimos</a>
    </div>
    <div style="text-align: center;">
        <img src="~/images/livro2.jpg" alt="Imagem de Livro 2" style="width:200px;height:300px;" />
        <br />
        <a class="btn btn-secondary" asp-controller="Emprestimos" asp-action="Index" style="background-color: white; color: black; margin-top: 10px;">Ver Empréstimos</a>
    </div>
    <div style="text-align: center;">
        <img src="~/images/livro3.jpg" alt="Imagem de Livro 3" style="width:200px;height:300px;" />
        <br />
        <a class="btn btn-secondary" asp-controller="Emprestimos" asp-action="Index" style="background-color: white; color: black; margin-top: 10px;">Ver Empréstimos</a>
    </div>
</div>


